@import url(./__zone/intro__zone.css);
@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list-zone/intro__list-zone.css);
@import url(./__list/intro__list.css);
@import url(./__list/_font/intro__list_font_bold.css);

.intro {
    width: 91vw;
    max-width: 984px;
    margin: 92px auto;
}

@media screen and (max-width: 768px){
    .intro {
        margin: 88px auto;
    }
}


