.cover__background {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    opacity: 0.8;
    z-index: 2;
}

.cover:hover .cover__background {
    opacity: 0.3;
}