.lead__caption {
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px){
    .lead__caption {
        padding-left: 4vw;
    }
}

@media screen and (max-width: 600px){
    .lead__caption {
        font-size: 10px;
    }
}