.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    text-align: center;
    opacity: 1;
    z-index: 10;
}

@media screen and (max-width: 900px){
    .cover__title {
        font-size: 72px;
    }
}

@media screen and (max-width: 400px){
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
    }
}

font-size: 18px;
line-height: 22px;